body {
  background-color: rgb(238, 223, 203);
  padding: 0%;
  margin: 0.5px;
}

.nav-bar {
    position: absolute;
    width: 1300px;
    height: 50px;
    left: 2px;
    right: 2px;
    top: 0px;
    background: rgb(187, 130, 84);
}
.specific-post {
    position: relative;
    width: 556px;
    height: 882px;
    left: 500px;
    top: 5px;
    background: rgb(184, 109, 109);
    box-shadow: 5px 10px 4px rgb(199, 168, 129)1, 196, 154;
}
.post-boxes {
    position: relative;
    width: 56px;
    height: 15px;
    left: 50px;
    top: 60px;
    box-shadow: 5px 10px 4px rgb(199, 168, 129)1, 196, 154;
}
.like-btn {
    position: absolute;
    width: 106.67px;
    height: 42px;
    left: 27px;
    top: 204px;
    box-shadow: 5px 10px 4px rgba(207, 34, 34, 0.5);
}
.dislike-btn {
    position: absolute;
    width: 108.99px;
    height: 42px;
    left: 133.67px;
    top: 204px;
}